<?php
/**
 * @var $block \Kowal\ClientNotification\Block\ClientNotification
 */
?>

<?php if ($block->isEnable()) { ?>

    <div id="example-modal-button" data-mage-init='{"customer-notify-modal": {"target": "#modal-content"}}'
         style="display: none">
        <div id="modal-content" style="font-size: 16px; font-weight: bold; padding: 20px;">
            <?php echo nl2br($block->getClientNotofication()); ?>
        </div>
    </div>

<?php } ?>